h1{
    text-align:  center;
    background-color: #343a40;
    color: white;
    margin-left: 27%;
    margin-right: 27%;
    font-size: 45px;
    align-content: center;
    padding: 15px;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    
}
html{
    height: auto;
}

body{
    width: 100%;
    height: auto;
    background-image: url(../images/body.jpg);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-size: cover; 
}

 
footer{
    background-color: #343a40;
    color: white;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 53.99%;
    
}

#mainspacer{
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #343a40;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    font-size: 25px;
    padding: 3%;
    
}




#mainContentArea{
    width: 70%;
    background-color: #343a40;
    position: absolute;
    min-height: 100%;
    margin-left: 15%;
    margin-top: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow-y: auto;
    background-image: url(https://akamai-webcdn.kgstatic.net/renewal/static/images/events/drieghan/main_20181107.jpg);
    background-repeat: no-repeat;
}

.error{
    color: red;
    font-weight: bold;
    text-align: center;
}

.navbar-links{
    color: white;
    
}

.navcss{
    background-color: #343a40;
    padding-left: 1%;
}

.navcss a{
    color: white;
}

.loginnav, .registernav, .editnav, .viewnav{
    text-align: right;
    float: right;
    
}


 .navcss a:hover{
    background-color: #484D53;
}

.proftable{
    margin-top: 5%;
    width: 50%;
    color: white;
    background-color: #484d53;
    text-align: center;
}


.playerdbth{
    background-color: #343a40;
    color:white;
    font-weight: bold;
}

.playerdbth td:hover{
    background-color: #5c6166;
    text-decoration: underline;
}

.playerdbth a{
    color: white;
}


.dbheader a{
    color: white;
}

.playerproflink a{
    color: white;
    
}
.playerproflink{
    background-color: #343a40;
    color: white;
}

.playerproflink:hover{
    background-color: #5c6166;
    text-decoration: underline;
    
}


.loginTable{
    margin-top: 5%;
    background-color: #343a40;
    padding: 10%;
    color: white;
    border-radius: 8px;
}


.loginSubmit:active{

    text-align: center;
    background-color: #343a40;
    color: white;
}

.loginSubmit{
    background-color: white;
    color: #343a40;
}

#confirmPassword{
    margin-left: 28.5%;
    margin-top: 2%;
}

#charNameInput{
    margin-right: 6.43%;   
    margin-top: 2%;
}

.levellabel{
   margin-left: 4.8%;
}

#charClass{
    margin-top: 2%;
    margin-left: 12%;
}

.renownlabel{
    margin-left: 1.25%;
}

.edtproform{
    
}

.signupform{
    margin-top: 5%;
    background-color: #343a40;
    color: white;
    padding: 3%;
    margin-right: 20%;
    margin-left: 20%;
}

#signupsubmit{

    margin-top: 5%;

}


table.editproftable{
    text-align: left;
    color: white;
    background-color: #484d53;
    margin-top: 5%;
    width: 50%;
    
}

.registertable{
    text-align: center;
    color: white;
    background-color: #484d53;
    margin-top: 5%;
    text-align: center;
    padding: 10%;
}

edtproftable td:hover{
    background-color: #9fcdff;
    
}



#paginglinks{
    text-align: center;
    margin:auto;
}

.tableheading{
    font-weight: bold;
    color: white;
    background-color: #343a40;
    
}

.bdologo{
    border-color: #343a40;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    float: right;
    margin-top: 8%;
    margin-right: 7%;
}

.steamlogo{
    border-color: #343a40;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    float: left;
    margin-top: 8%;
    margin-left: 7%;
    
}

#loginsuccess{
    background-color: #343a40;
    border-color: #343a40;
    text-align: center;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    font-size: 25px;
    border-radius: 10px;
}

.bg_video{
    background-repeat: no-repeat;
    background-color: #333;
}

#intro_video{
    margin: auto;
    margin-left: 26%;
}

.confirmmsg{
    color: white;
}

#confirmdiv{
    border-color: white;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    color: white;
}



